export(getClangPath)
export(processCppFlags)
export(processLibFlags)
export(terra)
export(terraAddIncludePaths)
export(terraAddRequirePaths)
export(terraFile)
export(terraLinkLibrary)
export(terraStr)
export(terrals)
export(tinit)
